body{
    font-family: 'Nunito Sans', sans-serif;
    width: 400px;
    height:270px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    gap:8px;
    color:white;
    background-color:rgb(46, 46, 46);
    border:2px solid white;
    border-radius:16px;
}

body > h3, body > h1, body > p {
    margin: 4px;
}

body > p{
    font-style:italic;
}

#icon{
    position:absolute;
    top:20px;
    right:30px;
    animation:rotation 1s infinite ease-in-out;
    animation-direction:alternate;
}

@keyframes rotation{
    from{
        transform:rotate(-10deg) scale(1);
    }
    to{
        transform:rotate(10deg) scale(1.1);
    }
}

#question-man{
    position:absolute;
    bottom:20px;
    left:10px;
    animation:pulse 1s infinite ease-in-out;
    animation-direction:alternate;
}

@keyframes pulse{
    from{
        transform:scale(1);
    }
    to{
        transform:scale(1.1);
    }
}

#btn-div {
  display:flex;
  justify-content:space-between;
  align-items:center;
  width: 63%;
}

#LabelAll, #LabelEasy, #LabelMedium, #LabelHard{
    flex-grow:2;
    text-align:right;
}


#answer-btn{
    background-color:rgb(226,121,90);
    border:none;
    color:white;
    font-family: 'Nunito Sans', sans-serif;
    padding: 8px 16px;
    text-align:center;
    text-decoration:none;
    font-size:14px;
    border-radius:12px;
    transition:0.1s;
}

#answer-btn:hover{
    background-color:rgb(243, 131, 97);
    transform: scale(1.05);
}

#answer-btn:active{
    transform: scale(0.95);
}

#next-question-btn{
    background-color:rgb(122, 179, 198);
    border:none;
    color:white;
    font-family: 'Nunito Sans', sans-serif;
    padding: 8px 16px;
    text-align:center;
    text-decoration:none;
    font-size:14px;
    border-radius:12px;
    transition: 0.1s;
}

#next-question-btn:hover{
    background-color:rgb(147,208,228);
    transform: scale(1.05);
}

#next-question-btn:active{
    transform: scale(0.95);
}